In [1]:
import pandas as pd

In [5]:
data = [['amol',34],["mahesh",45],['Ajinkya',34],["vishwa",45]]

In [6]:
data

[['amol', 34], ['mahesh', 45], ['Ajinkya', 34], ['vishwa', 45]]

In [7]:
pd.DataFrame(data, columns=["name","marks"])

      name  marks
0     amol     34
1   mahesh     45
2  Ajinkya     34
3   vishwa     45

In [8]:
data = {"a": [4,5,6], "b": [56,34,43]}

In [9]:
df = pd.DataFrame(data)

In [10]:
df

   a   b
0  4  56
1  5  34
2  6  43

In [13]:
import numpy as np
arr = np.array([[1,2],[3,4]])

In [15]:
df = pd.DataFrame(arr, columns=["A","B"])

In [16]:
df

   A  B
0  1  2
1  3  4

In [4]:
import pandas as pd
df = pd.read_csv("data.csv")

In [5]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2